@model NovinTehran.Web.ViewModels.AboutViewModel

@{
    ViewBag.Title = "درباره ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <div class="page-header text-center" style="background-image: url('/Files/StaticContentImages/Image/@ViewBag.BanerImage')">
        <div class="container">
            <h1 class="page-title">درباره ما</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">خانه</a></li>
                @*<li class="breadcrumb-item"><a href="#">صفحات</a></li>*@
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content pb-3">

        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="about-text text-center mt-3">
                        <h2 class="title text-center mb-2">@Model.Title</h2><!-- End .title text-center mb-2 -->
                        <p class="text-center">
                            @Model.AboutDescription
                        </p>
                        <img src="/Files/StaticContentImages/Image/@Model.SignatureImage" alt="signature"
                             class="mx-auto mb-5">

                        <img src="/Files/StaticContentImages/Image/@Model.Image" alt="image"
                             class="mx-auto mb-6">
                    </div><!-- End .about-text -->
                </div><!-- End .col-lg-10 offset-1 -->
            </div><!-- End .row -->

            @Html.Action("AboutOurPropertiesSection", "Home")

        </div><!-- End .container -->

        <div class="mb-2"></div><!-- End .mb-2 -->

        @Html.Action("OurTeamsSection", "Home")

        @Html.Action("PartnersSection", "Home");

    </div><!-- End .page-content -->
</main><!-- End .main -->
<!-- start page-title -->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <h2>درباره ما</h2>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end page-title -->
<!-- start about-section-s2 -->

@Html.Action("HomeAboutSection", "Home")

<!-- end about-section-s2 -->
<!-- start work-process -->



<section class="work-process section-padding p-t-0">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="work-process-grids clearfix">
                    <div class="grid">
                        <div class="count">1</div>
                        <h3>ثبت تقاضای کار</h3>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                            است
                        </p>
                    </div>
                    <div class="grid">
                        <div class="count">2</div>
                        <h3>بررسی تقاضای شما</h3>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                            است
                        </p>
                    </div>
                    <div class="grid">
                        <div class="count">3</div>
                        <h3>اعلام نتیجه تقاضای شما</h3>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                            است
                        </p>
                    </div>
                    <div class="separator"></div>
                </div>
            </div>
        </div>
    </div> <!-- end contaienr -->
</section>
<!-- end work-process -->

@Html.Action("LatestArticlesSection", "Home", new { take = 3 })
