@model List<NovinTehran.Core.Models.StaticContentDetail>


@*<div class="container">

    <div class="row">
        <div class="col-lg-12 col-12">
            <div class="intro-slider-container mt-2">
                <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl"
                     data-owl-options='{
                                    "dots": true,
                                    "nav": true,
                                    "rtl": true,
                            "responsive": {
                                        "1200": {
                                            "nav": true,
                                            "dots": true
                                        }
                                    }
                                }'>
                    @foreach (var item in Model)
                    {
                        string link = "";
                        if (!String.IsNullOrEmpty(item.Link))
                        {
                            link = item.Link;
                        }

                        <div class="intro-slide banner-lg"
                             style="background-image: url(/Files/StaticContentImages/Image/@item.Image);">
                            <div class="intro">
                                <div class="title">
                                    <a>@item.Title</a>
                                </div>
                                <div class="content">
                                    <h3>@Html.Raw(item.ShortDescription)</h3>
                                    <h4>@Html.Raw(item.Description)</h4>
                                </div>
                                <div class="action">
                                    <a href="@item.Link">خرید</a>
                                </div>
                            </div>
                        </div><!-- End .intro-slide -->
                    }


                </div><!-- End .intro-slider owl-carousel owl-simple -->

                <span class="slider-loader"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->
        </div>
    </div>

</div>*@


<section class="hero-slider hero-slider-s2">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @foreach (var item in Model)
            {
                string link = "";
                if (!String.IsNullOrEmpty(item.Link))
                {
                    link = item.Link;
                }
                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image" data-background="/Files/StaticContentImages/Image/@item.Image">
                        <div class="container">
                            <div data-swiper-parallax="300" class="slide-title">
                                <h2>@item.Title</h2>
                            </div>
                            <div data-swiper-parallax="400" class="slide-text">
                                <p>
                                    @Html.Raw(item.Description)
                                </p>
                            </div>
                            <div class="clearfix"></div>
                            <div data-swiper-parallax="500" class="slide-btns">
                                <a href="@item.Link" class="theme-btn">بیشتر</a>
                            </div>
                        </div>
                    </div> <!-- end slide-inner -->
                </div> <!-- end swiper-slide -->
            }


            @*<div class="swiper-slide">
                <div class="slide-inner slide-bg-image" data-background="/Content/client/assets/images/slider/slide-2.jpg">
                    <div class="container">
                        <div data-swiper-parallax="300" class="slide-title">
                            <h2>نوین تهران یکی از بهترین مجموعه ها است</h2>
                        </div>
                        <div data-swiper-parallax="400" class="slide-text">
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان
                                گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و
                                برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای آن
                            </p>
                        </div>
                        <div class="clearfix"></div>
                        <div data-swiper-parallax="500" class="slide-btns">
                            <a href="services.html" class="theme-btn">بیشتر</a>
                        </div>
                    </div>
                </div> <!-- end slide-inner -->
            </div> <!-- end swiper-slide -->*@
        </div>
        <!-- end swiper-wrapper -->
        <!-- swipper controls -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>

