@model List<NovinTehran.Web.ViewModels.ArticleCategoriesViewModel>

@*<div class="widget widget-cats">
    <h3 class="widget-title text-dark">دسته بندی ها</h3><!-- End .widget-title -->

    <ul>
        @foreach (var item in Model)
        {
            <li><a href="/Blog?category=@item.Id">@item.Title<span>@item.ArticleCount</span></a></li>
        }
    </ul>
</div><!-- End .widget -->*@



<div class="widget category-widget">
    <h3>دسته بندی ها</h3>
    <ul>
        @foreach (var item in Model)
        {
            <a href="/Blog?category=@item.Id">@item.Title</a>
            <button type="button" class="btn btn-info collaps-btn" data-toggle="collapse"
                    data-target="#demo-@item.Id">

                <span class="pull-left">+</span>
            </button>
            <div id="demo-@item.Id" class="collapse">
                @if (item.Children.Count() > 0)
                {

                    foreach (var subItem in item.Children)
                    {
                        if (subItem.IsDeleted)
                        {
                            continue;
                        }


                        <div class="checkbox custome-checkBox">
                            <a href="/Blog?category=@item.Id">@subItem.Title</a>
                        </div>
                        @*<form>

                            <div class="checkbox custome-checkBox">
                                <label><input type="checkbox" value="@subItem.Id">@subItem.Title</label>
                            </div>
                        </form>*@

                    }

                }
            </div>
        }

        @*<button type="button" class="btn btn-info collaps-btn" data-toggle="collapse"
                data-target="#demo">
            استخدام<span class="pull-left">+</span>
        </button>
        <div id="demo" class="collapse">
            <form>
                <div class="checkbox custome-checkBox">
                    <label><input type="checkbox" value="">استخدام</label>
                </div>
                <div class="checkbox custome-checkBox">
                    <label><input type="checkbox" value="">استخدام</label>
                </div>
                <div class="checkbox custome-checkBox">
                    <label><input type="checkbox" value="">استخدام</label>
                </div>
            </form>
        </div>*@
    </ul>
</div>